.accordion-button {
  background-color: #f7f7f7 !important;
  color: #0f1728 !important;
  border: none;
  font-size: 15px !important;
  font-weight: 500;
  position: relative;
  padding-left: 0 !important;
  padding-right: 32px !important;
  margin-bottom: 5px;
}

/* Tablet styles */
@media (min-width: 768px) {
  .accordion-button {
    font-size: 17px !important; /* Tablet size for questions */
    padding-left: 17px !important;
    margin-bottom: 0;
  }

  .accordion-body {
    font-size: 16px; /* Tablet size for answers */
  }
}

.accordion-button::after {
  display: none !important; /* Remove Bootstrap arrow */
}

.toggle-icon {
  position: absolute;
  right: 20px;
  font-size: 24px;
  font-weight: bold;
}

.accordion-button:not(.collapsed) {
  background-color: #f7f7f7 !important;
  color: #0f1728 !important;
  box-shadow: none !important;
}

.accordion-button:focus {
  box-shadow: none !important;
}

.accordion-item {
  background-color: #f7f7f7 !important;
  border: none;
}

/* Add a transition to the toggle icon */
.toggle-icon {
  position: absolute;
  right: 5px;
  font-size: 24px;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
  transform-origin: center;
  display: inline-block;
}

/* Tablet styles */
@media (min-width: 768px) {
  .toggle-icon {
    right: 20px;
  }
}

/* Optional rotation or fade effect when toggled */
.accordion-button:not(.collapsed) .toggle-icon {
  transform: rotate(45deg) scale(1);
  opacity: 1;
}

.accordion-button.collapsed .toggle-icon {
  transform: rotate(0deg) scale(1);
  opacity: 0.8;
}

.accordion-item {
  border: none !important;
  background-color: #f7f7f7 !important;
}

.accordion-body {
  background-color: #f7f7f7 !important;
  color: #0f1728 !important;
  font-size: 15px;
}
