:root {
  font-family: Poppins;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

a:hover {
  color: #1b4f56;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
}


.accordion-button {
  background-color: #B2BEB5 !important; /* Ash color */
  color: #000 !important; /* Ensure text is visible */
}

.accordion-button:not(.collapsed) {
  background-color: #B2BEB5 !important;
  color: #000 !important;
  box-shadow: none !important; /* Removes blue shadow */
}

.accordion-button:focus {
  box-shadow: none !important;
}
